.product {
  margin: 20px;
  width: 100%;
}
.product > div > button {
  display: flex;
  flex-direction: column;
  cursor: auto !important;
  background-color: rgba(220, 220, 220, 0.7);
  text-align: center;
}
.product__rating {
  display: flex;
  justify-content: center;
}
.product__media {
  height: 300px;
}
.product__cardAction {
  place-content: center;
}
.product__cardAction > button {
  background-color: #f0c14b !important;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #000000;
}

.product__cardAction > button :hover {
  background-color: #f0c14b !important;
  border-color: #a88734 #9c7e31 #846a29;
  color: #000000;
}
